@import '~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
@import '~react-bootstrap-table2-filter/dist/react-bootstrap-table2-filter.min.css';
$font-path: '~react-widgets/lib/fonts';
$img-path: '~react-widgets/lib/img';
@import '~react-widgets/lib/scss/react-widgets';

.ospo-tableheader {
  line-height: 30px;
  vertical-align: top;
}

.ospo-tableheader > th {
  padding-top: 10px;
}

.ospo-tableheader > th > .filter-label > * {
  margin-top: 6px;
}

.ospo-tableheader .sr-only { 
  display: none;
}

#root {
  overflow: visible;
}

.ospo-tableheader .filter.date-filter {
  flex-flow: column;
}