@import '~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
@import '~react-bootstrap-table2-filter/dist/react-bootstrap-table2-filter.min.css';
$font-path: '~react-widgets/lib/fonts';
$img-path: '~react-widgets/lib/img';
@import '~react-widgets/lib/scss/react-widgets';

/* react-boostrap-table2 styling fixes */

.ospo-tableheader {
  line-height: 30px;
  vertical-align: top;
}

.ospo-tableheader > th {
  padding-top: 10px;
}

.ospo-tableheader > th > .filter-label > * {
  margin-top: 6px;
}

.ospo-tableheader .sr-only { 
  display: none;
}

.ospo-tableheader .filter.date-filter {
  flex-flow: column;
}

/* react-widgets dropdown fixes */

.ospo-dropdown input {
  box-shadow: none !important;
  padding: 16px 0 !important;
}

/* profile selector make bigger */

.ospo-profile button {
  min-width: 275px;
  min-height: 32px;
}

/* fix double scrollbars */

#root {
  overflow: visible;
}

html {
  height: auto;
}

